@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800;900&display=swap");

:root {
  --font-default-color: black;
  --hero-bg-color: #702dff;
  --special-color: #f4c01e;
  --default-font: "Inter", sans-serif;
  --title-font-weight: 800;
  --title-font-size: 45px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav {
  height: 5rem;
  background: var(--hero-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--default-font);
}

.nav-logo p {
  font-weight: var(--title-font-weight);
  color: white;
  font-size: 1.5rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 2.5rem;
}

.list-menu-item {
  transition: 300ms ease;
  position: relative;
}

.list-menu-item:hover {
  text-decoration: underline;
  color: white;
}

.list-menu-item a {
  text-decoration: none;
  color: white;
}

.list-menu-item:nth-child(2)::after {
  content: "HOT";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-weight: 800;
  font-size: 8px;
  color: white;
  position: absolute;
  width: 22px;
  height: 14px;
  background-color: red;
  top: 5px;
  right: -25px;
}

.list-menu-item i {
  color: white;
  position: relative;
}

.list-menu-item i::after {
  content: "1";
  color: black;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -5px;
  left: 15px;
}

.hero-section {
  background-color: var(--hero-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  font-family: var(--default-font);
  position: relative;
}

.checkout-title,
.hero-main-title,
.hero-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-title {
  gap: 0.25rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05rem;
}

.hero-main-title {
  font-size: var(--title-font-size);
  max-width: 900px;
  text-align: center;
  font-weight: var(--title-font-weight);
  color: white;
  padding-top: 1rem;
}

.hero-main-title span {
  color: var(--special-color);
  font-size: 50px;
  text-transform: uppercase;
}

.hero-desc p {
  color: white;
  max-width: 520px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-size: 15px;
}

.btn-small {
  width: 11rem;
  height: 4rem;
  animation: scaling-anim 900ms forwards 400ms ease-in;
}

.btn-small button {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--hero-bg-color);
  font-weight: 800;
  font-size: 18px;
  margin-top: 2rem;
  transition: 250ms ease-in;
}

.btn-small button:hover {
  scale: 1.1;
}

.hero-bottom-section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 25rem;
  position: relative;
}

.hero-bottom-section img {
  width: 650px;
  border-radius: 15px;
  margin-bottom: 5rem;
  position: absolute;
  z-index: 1;
  right: -320px;
  box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.69);
  animation: upward 1000ms forwards ease-in;
}

.image-line-round {
  width: 25px;
  height: 25px;
  background-color: transparent;
  z-index: 1;
}

.image-line-round img:nth-child(1) {
  position: absolute;
  left: 580px;
  top: 350px;
}

.image-line-round img:nth-child(2) {
  position: absolute;
  right: 580px;
  top: 650px;
}

.image-lines img:nth-child(1) {
  position: absolute;
  left: 550px;
  top: 580px;
}

.image-lines img:nth-child(2) {
  position: absolute;
  right: 550px;
  top: 470px;
}

.circle {
  position: absolute;
  bottom: 0;
  left: 0;
}

.zig-zag {
  position: absolute;
  right: 0;
}

.zig-zag img:nth-child(2) {
  position: absolute;
  z-index: 12;
  top: 190px;
  left: 880px;
}

.why-us-section {
  background-color: #efefef;
  padding-top: 13rem;
  font-family: var(--default-font);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 6rem;
  position: relative;
}

.card {
  border: 1px solid black;
  padding: 1.5rem;
  border-radius: 10px;
  transition: 300ms ease;
  position: relative;
}

.card:hover {
  box-shadow: -2px 7px 19px 0px rgba(0, 0, 0, 0.75);
}

.card-component {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed grey;
  padding-top: 1rem;
}

.card-component:nth-child(3) {
  border: none;
}

.card-title p {
  font-weight: bolder;
}

.card-line p {
  color: rgba(0, 0, 0, 0.69);
  max-width: 300px;
}

.card:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed grey;
  padding: 9rem 1rem;
}

.card:nth-child(2) .card-component {
  border: none;
}

.arrow-1 {
  position: absolute;
  left: 310px;
}

.arrow-2 {
  position: absolute;
  right: 350px;
  top: 400px;
}

.card-heading p {
  font-size: 35px;
  max-width: 300px;
  font-weight: var(--title-font-weight);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-description p {
  max-width: 300px;
  text-align: center;
  color: rgba(0, 0, 0, 0.69);
}

.card:nth-child(odd) {
  background-color: #fff;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  font-family: var(--default-font);
  position: relative;
}

.footer-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-btn {
  width: 11rem;
  height: 2.75rem;
  transition: 250ms ease-in-out;
}

.footer-btn button {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: none;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
  font-weight: 800;
  padding: 0.5rem;
  cursor: pointer;
}

.footer-btn button i {
  font-size: 21px;
}

.footer-btn:hover {
  scale: 0.89;
}

.footer-line p {
  padding: 1rem 0;
  color: rgba(0, 0, 0, 0.69);
  font-size: 12px;
}

.footer-spans {
  font-size: 15px;
  padding-top: 1.5rem;
}

.footer-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 150px;
  padding-top: 1.5rem;
}

.footer-credits {
  color: rgba(0, 0, 0, 0.69);
  padding-top: 1.5rem;
}

/* animation */

@keyframes scaling-anim {
  0% {
    scale: 0.5;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

@keyframes upward {
  from {
    transform: translateY(1000px);
  }

  to {
    transform: translateX(0);
  }
}

/* MEDIA QUERIES */

@media screen and (width <= 750px) {
  .nav-list {
    gap: 1.9rem;
  }

  .hero-main-title {
    font-size: 25px;
    max-width: 550px;
  }

  .hero-main-title span {
    font-size: 35px;
  }

  .hero-bottom-section img {
    width: 550px;
    right: -280px;
    top: 190px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
